<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title  Sistema de Reservas</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Images/favicon.ico" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>

</html>

