body {
}
#inTurnFadingTextG{
width:236px;
}

.inTurnFadingTextG{
color:#2868D6;
font-family:Georgia;
font-size:12px;
text-decoration:none;
font-weight:bold;
font-style:normal;
float:left;
-moz-animation-name:bounce_inTurnFadingTextG;
-moz-animation-duration:1.92s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-animation-name:bounce_inTurnFadingTextG;
-webkit-animation-duration:1.92s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-animation-name:bounce_inTurnFadingTextG;
-ms-animation-duration:1.92s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-animation-name:bounce_inTurnFadingTextG;
-o-animation-duration:1.92s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
animation-name:bounce_inTurnFadingTextG;
animation-duration:1.92s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#inTurnFadingTextG_1{
-moz-animation-delay:0.32s;
-webkit-animation-delay:0.32s;
-ms-animation-delay:0.32s;
-o-animation-delay:0.32s;
animation-delay:0.32s;
}

#inTurnFadingTextG_2{
-moz-animation-delay:0.4s;
-webkit-animation-delay:0.4s;
-ms-animation-delay:0.4s;
-o-animation-delay:0.4s;
animation-delay:0.4s;
}

#inTurnFadingTextG_3{
-moz-animation-delay:0.48s;
-webkit-animation-delay:0.48s;
-ms-animation-delay:0.48s;
-o-animation-delay:0.48s;
animation-delay:0.48s;
}

#inTurnFadingTextG_4{
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#inTurnFadingTextG_5{
-moz-animation-delay:0.64s;
-webkit-animation-delay:0.64s;
-ms-animation-delay:0.64s;
-o-animation-delay:0.64s;
animation-delay:0.64s;
}

#inTurnFadingTextG_6{
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-ms-animation-delay:0.72s;
-o-animation-delay:0.72s;
animation-delay:0.72s;
}

#inTurnFadingTextG_7{
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

#inTurnFadingTextG_8{
-moz-animation-delay:0.88s;
-webkit-animation-delay:0.88s;
-ms-animation-delay:0.88s;
-o-animation-delay:0.88s;
animation-delay:0.88s;
}

#inTurnFadingTextG_9{
-moz-animation-delay:0.96s;
-webkit-animation-delay:0.96s;
-ms-animation-delay:0.96s;
-o-animation-delay:0.96s;
animation-delay:0.96s;
}

#inTurnFadingTextG_10{
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#inTurnFadingTextG_11{
-moz-animation-delay:1.12s;
-webkit-animation-delay:1.12s;
-ms-animation-delay:1.12s;
-o-animation-delay:1.12s;
animation-delay:1.12s;
}

#inTurnFadingTextG_12{
-moz-animation-delay:1.2s;
-webkit-animation-delay:1.2s;
-ms-animation-delay:1.2s;
-o-animation-delay:1.2s;
animation-delay:1.2s;
}

#inTurnFadingTextG_13{
-moz-animation-delay:1.28s;
-webkit-animation-delay:1.28s;
-ms-animation-delay:1.28s;
-o-animation-delay:1.28s;
animation-delay:1.28s;
}

#inTurnFadingTextG_14{
-moz-animation-delay:1.36s;
-webkit-animation-delay:1.36s;
-ms-animation-delay:1.36s;
-o-animation-delay:1.36s;
animation-delay:1.36s;
}

#inTurnFadingTextG_15{
-moz-animation-delay:1.44s;
-webkit-animation-delay:1.44s;
-ms-animation-delay:1.44s;
-o-animation-delay:1.44s;
animation-delay:1.44s;
}

#inTurnFadingTextG_16{
-moz-animation-delay:1.52s;
-webkit-animation-delay:1.52s;
-ms-animation-delay:1.52s;
-o-animation-delay:1.52s;
animation-delay:1.52s;
}

#inTurnFadingTextG_17{
-moz-animation-delay:1.6s;
-webkit-animation-delay:1.6s;
-ms-animation-delay:1.6s;
-o-animation-delay:1.6s;
animation-delay:1.6s;
}

#inTurnFadingTextG_18{
-moz-animation-delay:1.68s;
-webkit-animation-delay:1.68s;
-ms-animation-delay:1.68s;
-o-animation-delay:1.68s;
animation-delay:1.68s;
}

#inTurnFadingTextG_19{
-moz-animation-delay:1.76s;
-webkit-animation-delay:1.76s;
-ms-animation-delay:1.76s;
-o-animation-delay:1.76s;
animation-delay:1.76s;
}

#inTurnFadingTextG_20{
-moz-animation-delay:1.84s;
-webkit-animation-delay:1.84s;
-ms-animation-delay:1.84s;
-o-animation-delay:1.84s;
animation-delay:1.84s;
}

@-moz-keyframes bounce_inTurnFadingTextG{
0%{
color:#2868D6;
}

100%{
color:#FFFFFF;
}

}

@-webkit-keyframes bounce_inTurnFadingTextG{
0%{
color:#2868D6;
}

100%{
color:#FFFFFF;
}

}

@-ms-keyframes bounce_inTurnFadingTextG{
0%{
color:#2868D6;
}

100%{
color:#FFFFFF;
}

}

@-o-keyframes bounce_inTurnFadingTextG{
0%{
color:#2868D6;
}

100%{
color:#FFFFFF;
}

}

@keyframes bounce_inTurnFadingTextG {
    0% {
        color: #2868D6;
    }

    100% {
        color: #FFFFFF;
    }
}